<?xml version="1.0"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%cyan(%d{HH:mm:ss.SSS}) %highlight(%-5level) %magenta(%logger{36}) - %replace(%msg){'\n'," "}%n</pattern>
    </encoder>
  </appender>
  <logger name="io.micronaut.security.oauth2" level="WARN"/>
  <logger name="io.micronaut.context.conditio" level="WARN"/>
  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
